/* General styling */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Shafarik";
  src: url("fonts/Shafarik-Regular.woff2") format("woff2"),
    url("fonts/Shafarik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  text-align: center;
  font-family: "Shafarik", serif;
  margin: 0px auto;
  color: #fcf9ef;
  text-shadow: 0px 0px 3px #222222;
  letter-spacing: 0.8px;
}

/* The hero styling */

header {
  height: 400px;
  background-image: url(images/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2rem; /* 32px */
  padding: 0.16em 0.32em;
  background-color: #8e6478;
  margin: 0.31em 2.5em;
  border-radius: 10px;
}

header h3 {
  font-size: 1.2rem; /* 16px */
  padding: 0.32em 0.64em;
  background-color: #c6929e;
  margin: 0.62em 4.1em;
  border-radius: 10px;
}

/* The activities section styling */

main {
  background-color: #464270;
}

main h2 {
  font-size: 1.5rem; /* 24px */
  padding: 1.67em 0px 1.67em 0px;
}

.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 40px;
  padding-bottom: 40px;
}

.main-wrapper a {
  flex: 1;
  max-width: 225px;
  display: block;
}

.main-wrapper section {
  padding: 0 10px;
}

section img {
  width: 103px;
  border-radius: 50%;
}

.main-wrapper section h4 {
  margin: 5px;
}

.main-wrapper section {
  transition: 0.2s ease;
}

.main-wrapper section:hover {
  transform: scale(1.1);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* The footer styling */

footer {
  background-color: #5b435c;
  padding: 3.125em 1.25em;
}

#card {
  width: 70%;
  max-width: 400px;
  min-width: 300px;
  margin: 0px auto;
  padding: 0.81em 1.25em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #595287;
  border-radius: 15px;
  border-bottom: 5px solid #38355b;
}

footer img {
  width: 48.5%;
  max-width: 180px;
  border-radius: 15px;
}

#card-text p {
  margin: 0.875em 0.69em;
  font-style: italic;
}

footer h3,
footer p,
footer h4 {
  width: 90%;
}

footer h3 {
  font-size: 1.3rem;
}

footer p {
  font-size: 1rem;
}

footer h4 {
  font-size: 1.15rem;
}

@media (max-width: 500px) {
  .main-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
