/* General styling */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Shafarik";
  src: url("fonts/Shafarik-Regular.woff2") format("woff2"),
    url("fonts/Shafarik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  text-align: center;
  font-family: "Shafarik", serif;
  width: 720px;
  margin: 0px auto;
  color: #fcf9ef;
  text-shadow: 0px 0px 3px #222222;
  letter-spacing: 0.8px;
}

/* The hero styling */

header {
  width: 100%;
  height: 343px;
  background-image: url(images/city.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  letter-spacing: 0.05em;
  padding: 5px 10px;
  background-color: #8e6478;
  margin: 10px;
  border-radius: 10px;
}

header h3 {
  padding: 8px 16px;
  background-color: #c6929e;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
  font-size: 1.3em;
}

/* The activities section styling */

main {
  background-color: #464270;
  height: 378px;
}

main h2 {
  padding: 40px 0px 40px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 40px;
}

.wrapper section {
  flex: 1;
  max-width: 225px;
  padding: 0 10px;
  font: 16px;
}

section img {
  width: 103px;
  border-radius: 50%;
}

.wrapper section h4 {
  margin: 5px;
}

#activ-1:hover,
#activ-2:hover,
#activ-3:hover {
  scale: 1.1;
  position: top 10px left 30px;
}

a {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* The footer styling */

footer {
  background-color: #5b435c;
  padding: 50px 160px;
}

#card {
  width: 400px;
  margin: 0px auto;
  padding: 13px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #595287;
  border-radius: 15px;
  border-bottom: 5px solid #38355b;
}

footer img {
  width: 180px;
  border-radius: 15px;
}

#card-text p {
  margin: 14px 11px;
  font-style: italic;
}
