@font-face {
    font-family: 'Shafarik';
    src: url('Shafarik-Regular.woff2') format('woff2'),
        url('Shafarik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

